node_modules
src
_tests
bin
obj
tsconfig.json
tsconfig.tsbuildinfo
typedoc.json
git.commit.template.txt
.gitignore
.prettierignore
.prettierrc
.eslintrc.js
.eslintignore
.npmrc
tsconfig.json
core.njsproj
core.njsproj.user
Core.sln